.importrow {
    min-height: 30px;
    border: 0.05rem solid #b5bbc1;
    border-top: none;
}
.importrow:first-of-type {
    border-top: 0.05rem solid #b5bbc1;
}
.importrow:nth-child(even){
    background-color: #ECEAEA;
}

.note {
    overflow-x: auto;
}