.top {
    margin-top: 10%;
}

.less {
    margin-top: 100px;
}

.smaller {
    margin-top: 25px;
}

.evensmaller {
    margin-top: 10px;
}

.ml {
    margin-left: 8px;
}

.h100 {
    height: 100%;
}

.h50 {
    height: 50px;
}

.header {
    background-color: #2b2b2b;
}

.btn-fix {
    padding-top: 5px;
}