.some-mb {
    margin-bottom: 40px;
}

.transaction-container {
    height: calc(100vh - 355px);
    overflow-x: hidden;
    overflow-y: auto;
}

.h100 {
    height: 100%;
}

.h290 {
    height: 290px;
}

.h350 {
    height: 350px;
}

.delete-all-btn {
    margin-left:-8px;
}

.add-new-btn {
    margin-right:-8px;
}