.category-input {
    margin-bottom: 20px;
}

.category-table-header {
    padding-left:.8rem !important;
    padding-right:.8rem !important;
}

.category-container {
    overflow-y: auto;
    height: calc(100vh - 130px);
}

.invis {
    visibility: hidden;
}

.mt {
    margin-top:10px;
}

.h100 {
    height: 100%;
}

.h150 {
    height: 150px;
}

.control {
    padding-top: 12px;
    width: 30px;
}

.control-parent {
    max-height:40px;
}
.control-parent:hover {
    cursor:pointer;
    background-color: #ABAAEC;
}