.app-container {
  padding:0px 10px 10px 10px;
  height:100vh !important;
}

.header {
  background-color: #2b2b2b;
}

.container {
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.column-mb {
  margin-bottom:40px;
}

.h100 {
  height:100%;
}

.h50 {
  height: 50px;
}

.middle-separator {
  border-right:8px solid #2b2b2b;
}