.app-container {
  padding:20px 10px 10px 10px;
}

.container {
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.column-mb {
  margin-bottom:40px;
}