.some-mb {
    margin-bottom:20px;
}

.bar-good {
    background-color: #32b643 !important;
}
.bar-okay {
    background-color: #ffb700 !important;
}
.bar-bad {
    background-color: #e85600 !important;
}

.h200 {
    height:200px;
}

.label-padding {
    padding-top:12px;
}

.form-padding {
    padding-top:6px;
}

.header-fix {
    padding-top:5px;
    float:right;
    margin-right: 0px !important;
}

.mb {
    margin-bottom:15px;
}

.label-fix {
    padding-top:8px !important;
}

.center-this-text {
    text-align: center !important;
}